* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(212, 230, 245);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

figure {
  order: -1;
}

h1 {
font-size: 40px;
text-align: center;
}

.pic {
  max-height: 250px;
  min-height: 100px;
  width: auto;
}

img {
  max-width: 100%;
}