* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0;
}

body {
  background-color: rgb(135, 173, 222);
  margin: 0;
}

header {
  background-color: burlywood;
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

figure {
  order: -1;
  margin: 20px
}

h1 {
font-size: 40px;
}

.pic {
  height: 200px;
  width: 200px;
  border-radius: 30px;
  margin: 0;
}

nav {
  margin: 20px;
}

nav ul {
  list-style-type: none;
  background-color: beige;
  /* margin: 10px;
  padding: 2px; */
  width: 200px;
  height: 200px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

nav ul li {
  display: block;
  width: 150px;
  padding-left: 10px;
}

nav ul li a {
  display: block;
  margin-left: 10px;
  background-color: beige;
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: white;
  background-color: rgb(46, 33, 2);
}

.img {
  max-width: 50%;
}

.img2 {
  max-width: 30%;
}

@media screen and (max-width: 992px) {
  header {
    flex-direction: column;
  }
}

main, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 5%;
}

section ul {
  list-style-type: none;
}

.contact {
  margin-top: 10%;
}

footer {
  text-align: center;
}